BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.x.x and v3.0.x

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk" SITE "K23";
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 100 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# RGB leds

LOCATE COMP "ld5[0]" SITE "T23";
LOCATE COMP "ld5[1]" SITE "R21";
LOCATE COMP "ld5[2]" SITE "T22";
IOBUF PORT "ld5[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld5[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld5[2]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "ld6[0]" SITE "U21";
LOCATE COMP "ld6[1]" SITE "W21";
LOCATE COMP "ld6[2]" SITE "T24";
IOBUF PORT "ld6[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld6[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld6[2]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "ld7[0]" SITE "K21";
LOCATE COMP "ld7[1]" SITE "K24";
LOCATE COMP "ld7[2]" SITE "M21";
IOBUF PORT "ld7[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld7[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld7[2]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "ld8[0]" SITE "P21";
LOCATE COMP "ld8[1]" SITE "R23";
LOCATE COMP "ld8[2]" SITE "P22";
IOBUF PORT "ld8[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld8[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ld8[2]" PULLMODE=UP IO_TYPE=LVCMOS33;



## PROGRAMN (reload bitstream from FLASH, exit from bootloader)
# PCB v2.0.5 and higher
# LOCATE COMP "user_programn" SITE "M4";
# IOBUF PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SHUTDOWN "power", "ram" sheet (connected from PCB v1.7.5)
# on PCB v1.7 shutdown is not connected to FPGA
# LOCATE COMP "shutdown" SITE "G16"; # FPGA receives
# IOBUF PORT "shutdown" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
